@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 4px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(126, 127, 127, 0.632);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

html>body {
    opacity: 0;
}

html.js>body {
    opacity: 1;
}

.index_bg {
    background-image: url('/images/homebg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.dark .index_bg {
    background-image: url('/images/homebg_dark.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}